<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    
</head>
<body  data-ng-app="tickDataApp">

  

    <div ui-view></div>
    
    Active state : {{title}}   Update Frequency : {{frequency}}
    
</body>

    <!-- Script resources last in page for faster load -->
    <!-- Angular-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.js"></script>
    
    <!-- Server asynch communication using STOMP (using sockjs) -->
    <script src="../../bower_components/sockjs-client/dist/sockjs.js"></script>
    
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.js"></script>
    
    <!-- Charting -->
    <script src="http://code.highcharts.com/stock/highstock.js"></script>
    
    <!-- Routing -->
    <script src="../../bower_components/angular-ui-router/release/angular-ui-router.js"></script>

    <!-- Grid -->
    <link rel="styleSheet" href="../../bower_components/angular-ui-grid/ui-grid.css"/>
    <script src="../../bower_components/angular-ui-grid/ui-grid.js"></script>
    
    <script src="../scripts/stomp/stomp.js"></script>
    <script src="../scripts/controllers/tickCtrl.js"></script>
    <link rel="styleSheet" href="../styles/ticker.css"/>
    



</html>