<!-- partials/filters.html -->


  <div id="controlsContainer">
  
    <div id="controlsRight">
      <label for="interval">Interval (secs):</label>
        <input id="frequency" type="number" name="frequency" ng-model="update.frequency"
            ng-change="updateFrequency(frequency)" /> 
    </div>
     
    <div id="controlsLeft">
       <a ui-sref="filters.streaming">
      <button class="btn btn-danger navbar-btn" >Now</button>
      </a>
      
       <a ui-sref="filters.inrange">
          <button class="btn btn-danger navbar-btn" >Query</button>
      </a>
    </div>
    
</div>

<div ui-view> 
</div>